<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Question Bank Management</title>
  </head>
  <body>
    <%- include('./commons/header.ejs') %>
    <%- include('./commons/footer.ejs') %>
  </body>
</html>
