<footer class="footer fixed-bottom py-3 bg-light">
  <div class="container d-flex justify-content-center align-items-center">
    <span class="text-muted"
      >Question Bank Management - © Copy right by BaKa 2024</span
    >
  </div>
</footer>
