<header style="position: fixed; top: 0; width: 100%; z-index: 1000;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light font-weight-bold">
    <div class="container d-flex justify-content-center">
      <a class="navbar-brand mx-auto" href="/">Question Bank</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item mx-3">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="/quizzes">Quizzes</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="/questions">Questions</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>